certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.12
dotenv==0.9.9
exceptiongroup==1.2.2
greenlet==3.1.1
idna==3.10
iniconfig==2.0.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pyTelegramBotAPI==4.26.0
pytest==8.3.5
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.39
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
xlrd==2.0.1
